/*
Suggested colour design:
https://www.colorcombos.com/combotester.html?cc_id=11&show_text=
gray = "#1F1209"
blue = "#003366"
yellow = "#FFF8DC"
brown = "#834C24"
 */

.root {
    -fx-background-color: #FFFFFF;
}
.button {
    /*
    Stijl van onze buttons
    http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
     */
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-text-fill: #1F1209;
}
.button:hover{
    /*
    Als je over de button hovert, verander van kleur zodat het duidelijk is dat hij klikbaar is
     */
    -fx-background-color: #003366;
    -fx-text-fill: white;
}
.fxNest {
    -fx-border-color: black;
    -fx-min-height: 100px;
    -fx-min-width: 100px;
}
.fxRondgang {
    /*
    custom stijl voor de knoppen in het spel scherm zelf
     */
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.fxLandingzone {
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.fxGroen {
    -fx-border-color: #2FCE0B;
    -fx-border-width: 3;
    /*
     -fx-background-color: #2FCE0B;
    -fx-text-fill: white;
     */
}
.fxRood {
    -fx-border-color: #CE0B0B;
    -fx-border-width: 3;
    /*
    -fx-background-color: #CE0B0B;
    -fx-text-fill: white;
     */

}
.fxGeel {
    -fx-border-color: #E7E20B;
    -fx-border-width: 3;
    /*
    -fx-background-color: #E7E20B;
     */
}
.fxBlauw {
    -fx-border-color: #0B8CE7;
    -fx-border-width: 3;
    /*
    -fx-background-color: #0B8CE7;
    -fx-text-fill: white;
     */
}

.BtnSafeSpace {
    -fx-text-fill: #7431f6;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-underline: true;
}

.toggle-button {
    /*
    Onze enige togglebutton tot nu toe is de "cheat mode"
     */
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}